{% extends 'base.html' %}
{% block content %}

    <h3>Create new user account !</h3>
    <form method="post" action="">
        {% csrf_token %}
                {{ form.non_field_errors }}
        <div class="fieldWrapper">
			    {{ form.username.errors }}
			    <label for="id_username">Username:</label>
			    {{ form.username }}
        </div><br/>
        <div class="fieldWrapper">
            {{ form.password1.errors }}
            <label for="id_password1">Password:</label>
            {{ form.password1 }}
        </div><br/>

        <div class="fieldWrapper">
            {{ form.password2.errors }}
            <label for="id_password2">Confirm password:</label>
            {{ form.password2 }}
        </div><br/>
        {{ form.random_number.as_hidden }}
        <div class="fieldWrapper">
            {{ form.birthday.errors }}
            <label for="id_birthday">Birthday:</label>
            {{ form.birthday }}
        </div><br/>
    <input type="submit" value="Create new user account" />
    </form>
    <ul>
        <li><a href="/">Main page</a></li>
    </ul>
{% endblock %}