{% extends 'base.html' %}
{% load extras %}
{% block content %}

<h3>All users in BizzFuzz !</h3>
{% if object_list %}
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Birthday</th>
            <th>Eligible</th>
            <th>Random</th>
            <th>BizzFuzz</th>
        </tr>
        {% for my_user in object_list %}
        <tr>
            <td>{{ my_user.username }}</td>
            <td>{{ my_user.birthday|date:"m/d/Y" }}</td>
            <td>{{ my_user.birthday|count_eligible }}</td>
            <td>{{ my_user.random_number }}</td>
            <td>{{ my_user.random_number|count_bizzfuzz }}</td>
            <td><a href="/my-users/update-user/{{my_user.id}}/">Update</a></td>
            <td><a href="/my-users/delete-user/{{my_user.id}}/">Delete</a></td>
        </tr>

        {% endfor %}
    </table>
{% else %}
    <strong>No users !</strong>
{% endif %}
<ul>
    <li><a href="/">Main page</a></li>
</ul>
{% endblock %}